# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands on practice creating and using lambda functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv')
df.head(2)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple Arithmetic

Use a lambda function to create a new column called 'stars_squared' by squarring the stars column.

In [5]:
#Your code here

df['stars_squared'] = df['stars'].map(lambda x: x**2)
df.head()

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25

## Dates
Select the month from the date string using a lambda function.

In [12]:
# Your code here
month = df['date'].map(lambda x: x.split('-')[1])

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [15]:
# Your code here
(df['text'].map(lambda x: len(x)))/len(df['text']) - 1

0      -0.878544
1      -0.940230
2      -0.936782
3      -0.821073
4      -0.929119
5      -0.892720
6      -0.955172
7      -0.845594
8      -0.753257
9      -0.780077
10     -0.957854
11     -0.946743
12     -0.967816
13     -0.964368
14     -0.947510
15     -0.923755
16     -0.932567
17     -0.890421
18     -0.945594
19     -0.906513
20     -0.820690
21     -0.733716
22     -0.936398
23     -0.929502
24     -0.932567
25     -0.745977
26     -0.888506
27     -0.916858
28     -0.841762
29     -0.853640
          ...
2580   -0.935249
2581   -0.965517
2582   -0.828352
2583   -0.756322
2584   -0.840230
2585   -0.957854
2586   -0.942529
2587   -0.905747
2588   -0.798851
2589   -0.873946
2590   -0.805364
2591   -0.950958
2592   -0.918774
2593   -0.945211
2594   -0.902682
2595   -0.686590
2596   -0.955172
2597   -0.707280
2598    0.342912
2599   -0.728736
2600   -0.977011
2601   -0.896552
2602   -0.700766
2603   -0.924138
2604   -0.772031
2605   -0.879310
2606   -0.911111
2607   -0.829885
2608   -0.619540
2609   -0.915326
Name: text, Length: 2610, dtype: float64

## Create a new column for the number of words in the review.

In [ ]:
#Your code here

## Rewrite the following as a lambda function. Create a new column 'Review_Length'

In [5]:
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
#Hint: nest your if, else conditionals

In [ ]:
#Your code here

## Level Up: Dates Advanced!
<img src="images/date_format_map.png" width="600">  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [ ]:
#Your code here

## Summary

Great! Hopefully you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.